.container {
    width: 400px;
}

.box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: #0000007e;
    color: #ffffff;
    border-radius: 5px;
}

.item {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}