.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    max-width: fit-content;
    padding: 20px;
    margin: 0 auto;
    background-color: #000000d5;
}