.header {
    background-color: #0000007e;
    display: flex;
    max-width: fit-content;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
}

.item {
    display: flex;
    margin-right: 20px;
    column-gap: 20px;
}

.none {
    display: none;
}

.link {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbarButton {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: rgb(100, 182, 237);
    border: 1px solid rgb(217, 217, 228);
}

.link:hover {
    color: rgb(94, 221, 204);
}

.link:active {
    color: rgb(46, 202, 181);
}

.blue {
    color: rgb(45, 144, 224)
}

.yellow {
    color: rgb(175, 192, 81)
}

.pink {
    color: rgb(172, 66, 154)
}