.default {
    font-size: 18px;
    height: 40px;
    width: 100px;
    color: white;
    background-color: rgb(100, 182, 237);
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.default:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.red {
    background: red;
}

.default:active {
    border: 1px solid black;
}

.default:disabled {
    opacity: 0.5;
    background: #000;
    cursor: auto;
    box-shadow: none;
}